body{
    margin: 0px;
    padding: 0px;
    background: #262626;
}

.rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.rantig input{

    /*display: none;*/

}

.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    background: #ccc;

}

.rating label:before{
    content: '\f005';
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}